.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Roboto";
  color: #757575;
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navigation__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts__link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.round-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.round-icon:hover,
.round-icon:focus {
  background-color: #2196f3;
}

.round-icon:hover .icon,
.round-icon:focus .icon {
  fill: #ffffff;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navigation {
  display: flex;
  margin-left: 93px;
  list-style: none;
}
.navigation__item {
  margin-left: 50px;
}
.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.current {
  position: relative;
  color: #2196f3;
}
.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  transform: translate(-50%, -50%);
  top: 99%;
  left: 50%;
  border-radius: 2px;
}

.contacts {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
}
.contacts__item {
  margin-left: 50px;
}
.contacts__item:first-child {
  margin-left: 0px;
}
.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}
.contacts__icon--envelope {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #757575;
}
.contacts__icon--smartphone {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #757575;
}
.contacts__link:hover .contacts__icon--envelope, .contacts__link:hover .contacts__icon--smartphone, .contacts__link:focus .contacts__icon--envelope, .contacts__link:focus .contacts__icon--smartphone {
  fill: #2196f3;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #000000;
}
.logo--accent {
  color: #2196f3;
}

.hero__overlay {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero-overlay.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #c4c4c4;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #c4c4c4;
}
.hero__title {
  width: 696px;
  margin: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: inherit;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero__button {
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.87;
  text-align: inherit;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  background-color: #2196f3;
  width: 216px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.benefits__list {
  display: flex;
  list-style: none;
}
.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  text-transform: uppercase;
  color: #212121;
}
.benefits__text {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  width: 270px;
}
.benefits__item {
  margin-right: 30px;
}
.benefits__item:last-child {
  margin-right: 0px;
}
.benefits__item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  background-position: center;
  background-repeat: no-repeat;
}
.benefits__icon--antenna::before {
  background-image: url("/images/antenna.svg");
}
.benefits__icon--clock::before {
  background-image: url("/images/clock.svg");
}
.benefits__icon--diagram::before {
  background-image: url("/images/diagram.svg");
}
.benefits__icon--astronaut::before {
  background-image: url("/images/astronaut.svg");
}

.competencies {
  padding-top: 0px;
}
.competencies__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.competencies__list {
  list-style: none;
  display: flex;
  justify-content: center;
}
.competencies__item {
  position: relative;
  margin-right: 30px;
  height: 294px;
}
.competencies__item:last-child {
  margin-right: 0px;
}
.competencies__text {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 370px;
  transform: translate(-50%, 0%);
  font-family: inherit;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  background-color: #f5f4fa;
}
.team__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team__list {
  display: flex;
  list-style: none;
  margin-top: 50px;
  text-align: center;
}
.team__card {
  margin-right: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__card:last-child {
  margin-right: 0px;
}
.team__card img {
  display: block;
}
.team__meta {
  padding-top: 30px;
}
.team__meta--name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-transform: none;
  color: #212121;
}
.team__meta--position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
}
.team__icons-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}

.clients__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.clients__list {
  display: inline-flex;
}
.clients__item {
  margin-right: 30px;
}
.clients__item:last-child {
  margin-right: 0px;
}

.bordered-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}

.bordered-icon:hover,
.bordered-icon:focus {
  border-color: #2196f3;
}

.bordered-icon .icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bordered-icon:hover .icon,
.bordered-icon:focus .icon {
  fill: #2196f3;
}

.page-footer {
  background-color: #2f303a;
  padding: 60px 0px;
}
.page-footer__container {
  display: flex;
  justify-content: space-between;
}
.page-footer__adress {
  display: flex;
  flex-direction: column;
}
.page-footer__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #ffffff;
}
.page-footer__logo--accent {
  color: #2196f3;
}
.page-footer__contacts {
  list-style: none;
}
.page-footer__item {
  margin-top: 9px;
}
.page-footer__location {
  text-decoration: none;
  line-height: 1.71;
  color: #ffffff;
}
.page-footer__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.page-footer__link:hover, .page-footer__link:focus {
  color: #2196f3;
}

.address {
  margin-top: 20px;
  font-style: normal;
}

.social {
  display: inline-flex;
  flex-direction: column;
}
.social__title {
  margin-bottom: 20px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.social__list {
  display: flex;
}
.social__list .round-icon {
  width: 44px;
  height: 44px;
  background-color: #44454e;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__list .round-icon:hover, .social__list .round-icon:focus {
  background-color: #2196f3;
}
.social__item {
  margin-right: 10px;
}
.social__item:last-child {
  margin-right: 0px;
}
.social__item .icon {
  fill: #ffffff;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
}
.subscribe--column {
  display: flex;
  margin-top: 20px;
  gap: 12px;
}
.subscribe__label {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.subscribe__input {
  width: 358px;
  height: 50px;
  padding-left: 15px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  outline: #757575;
}
.subscribe__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background: #2196f3;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.subscribe__button:hover, .subscribe__button:focus {
  background-color: #188ce8;
}
.subscribe__icon--sub {
  margin-left: 10px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: visible;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 0;
}
.modal__close-button-icon {
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button-icon:hover, .modal__close-button-icon-button:focus .modal__close-button-icon {
  fill: #2196f3;
}
.modal__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal__item {
  position: relative;
  margin-top: 10px;
}
.modal__lable {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.modal__input {
  margin-top: 4px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus, .modal__input:focus + .modal__icon {
  outline: none;
  border-color: #2196f3;
  fill: #2196f3;
}
.modal__icon {
  display: block;
  position: absolute;
  top: 51%;
  left: 14px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__text-area {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
}
.modal__text-area::-moz-placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  opacity: 0.5;
}
.modal__text-area:-ms-input-placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  opacity: 0.5;
}
.modal__text-area::placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  opacity: 0.5;
}
.modal__policy {
  display: flex;
  justify-content: center;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal__link {
  color: #2196f3;
}
.modal__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.modal__checkbox-icon {
  display: inline-block;
  margin-right: 8px;
  margin-top: 3px;
}
.modal__checkbox:checked + .modal__checkbox-icon {
  background-image: url(/images/checked-checkbox.svg);
  fill: #2196f3;
}
.modal__button {
  display: block;
  width: 200px;
  height: 50px;
  margin: 30px auto 0px;
  background-color: #2196f3;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.modal__button:hover, .modal__button:focus {
  background-color: #188ce8;
}

.filter__list {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-bottom: 50px;
}
.filter__button {
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: #212121;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}
.filter__item {
  margin-right: 8px;
}
.filter__item:last-child {
  margin-right: 0px;
}
.filter__button:hover, .filter__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.active {
  padding: 6px 25px;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filtered__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
}
.filtered__item {
  width: 370px;
}
.filtered__item--image {
  display: block;
}
.filtered__link {
  display: block;
  position: relative;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
.filtered__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.filtered__text--overlay {
  position: absolute;
  height: 100%;
  padding: 63px 24px;
  background-color: #2196f3;
  transform: translateY(100%);
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  letter-spacing: 0.03em;
  opacity: 0;
}
.filtered__link:hover .filtered__text--overlay, .filtered__link:focus .filtered__text--overlay {
  opacity: 0.9;
  transform: translateY(0%);
}
.filtered__text {
  position: relative;
  padding: 24px 20px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.filtered__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: none;
  color: #212121;
}
.filtered__desc {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

* {
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=main.css.map */