.benefits {
  @media (min-width: 768px) and (max-width: 1199px) {
    display: flex;
  }

  &__list {
    display: flex;
    list-style: none;

    @media (min-width: 768px) and (max-width: 1199px) {
      flex-wrap: wrap;
      gap: 30px;
    }

    @media screen and (min-width: 1200px) {
      gap: 30px;
    }
  }

  &__item {
    @media (min-width: 768px) and (max-width: 1199px) {
      flex-basis: calc(95.9% / 2);
    }
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 2;
    text-transform: uppercase;
    color: $title-text-color;
  }

  &__text {
    font-family: inherit;
    font-size: 14px;
    line-height: 1.71;
    width: 270px;
    // color: $main-text-color;
  }

  &__item::before {
    display: block;
    content: '';
    height: 120px;
    margin-bottom: 30px;
    background-color: $grey-bg-color;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__icon--antenna::before {
    background-image: url('../images/antenna.svg');
  }

  &__icon--clock::before {
    background-image: url('../images/clock.svg');
  }

  &__icon--diagram::before {
    background-image: url('../images/diagram.svg');
  }

  &__icon--astronaut::before {
    background-image: url('../images/astronaut.svg');
  }
}
