.hero__overlay {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/mobile-hero-overlay-480.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $hero-bg-color;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/mobile-hero-overlay-960.jpg');
  }

  @media screen and (max-width: 1199px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/desktop-hero-overlay-1600.jpg');
  }
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: $hero-bg-color;

  &__title {
    width: 696px;
    margin: auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: inherit;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $color-white;

    @media screen and (max-width: 767px) {
      width: 100%;
      font-size: 26px;
      line-height: 1.62;
    }
  }

  &__button {
    font-weight: 700;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.87;
    text-align: inherit;
    letter-spacing: 0.06em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: $color-white;
    background-color: $accent-color;
    width: 216px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    cursor: pointer;
  }

  &__button:hover,
  &__button:focus {
    background-color: $button-active;
  }
}
