.page-header {
  position: relative;
  border-bottom: 1px solid $header-bottom-line-color;
}

.page-header__container {
  display: flex;
  align-items: center;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (max-width: 767px) {
    height: 60px;
    justify-content: space-between;
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    width: 100%;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.navigation {
  display: flex;
  list-style: none;

  @media screen and (max-width: 767px) {
    display: none;

    &.is-open {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      padding-top: 48px;
      padding-left: 40px;
      background-color: $color-white;
      overflow-y: hidden;
      z-index: 9;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    gap: 50px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    gap: 50px;
  }

  &-contacts-item {
    @media screen and (min-width: 768px) {
      display: none;
    }

    .contacts__link.tel {
      margin-top: 45%;
      margin-bottom: 30px;
      font-size: 34px;
      line-height: 1.17;
      letter-spacing: 0.02em;
      color: $accent-color;
    }

    .contacts__link {
      font-size: 24px;
      line-height: 1.16;
      letter-spacing: 0.02em;
    }
  }

  &.is-open .contacts-item {
    position: absolute;
    top: 562px;
    left: 48px;
  }

  &__button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    @media screen and (min-width: 768px) {
      display: none;
    }

    &.is-open {
      display: block;
      position: fixed;
      right: 16px;
      top: 10px;
      z-index: 10;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    &--icon-close {
      display: none;
    }

    &.is-open &--icon-close {
      display: block;
    }

    &.is-open &--icon-open {
      display: none;
    }
  }

  &__button:hover .navigation__button--icon,
  &__button:focus .navigation__button--icon {
    fill: $accent-color;
  }

  &__button--icon {
    fill: $title-text-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @extend %header-text-style;

    @media screen and (max-width: 767px) {
      display: inline-block;
      font-weight: 500;
      font-size: 40px;
      line-height: 1.17;
      letter-spacing: 0.02em;
    }
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  &__link:last-child {
    @media screen and (max-width: 767px) {
      padding-top: 0;
    }
  }

  & .socials {
    display: flex;
    margin-top: 64px;
    gap: 20px;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  & .socials__item {
    position: relative;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accent-color;
    text-decoration: none;
  }

  & .socials__item:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 50%;
    width: 22px;
    height: 0px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}

.current {
  position: relative;
  color: $accent-color;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    transform: translate(-50%, -50%);
    top: 99%;
    left: 50%;
    border-radius: 2px;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.contacts {
  display: none;
  margin-top: 0px;
  margin-bottom: 0px;

  @media (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }

  &__item {
    @media (min-width: 768px) and (max-width: 1199px) {
      margin-left: 0px;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 50px;
    }
  }

  &__item:first-child {
    @media screen and (min-width: 1200px) {
      margin-left: 0px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @extend %header-link-style;

    @media screen and (max-width: 1199px) {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  &__icon--envelope {
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: $main-text-color;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__icon--smartphone {
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: $main-text-color;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__link:hover &__icon--envelope,
  &__link:hover &__icon--smartphone,
  &__link:focus &__icon--envelope,
  &__link:focus &__icon--smartphone {
    fill: $accent-color;
  }
}
