.team {
  background-color: $grey-bg-color;

  &__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-text-color;
  }

  &__list {
    display: flex;
    list-style: none;
    margin-top: 50px;
    text-align: center;
  }

  &__card {
    margin-right: 30px;
    background-color: $color-white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__card:last-child {
    margin-right: 0px;
  }

  &__card img {
    display: block;
  }

  &__meta {
    padding-top: 30px;
  }

  &__meta--name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    text-transform: none;
    color: $title-text-color;
  }

  &__meta--position {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
  }

  &__icons-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 30px;
  }
}
